
.Comment {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10%;
}
.Comment input{
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 50%;
    height:50px
}
.Comment  button{
    border-radius: 10px;
    border: none;
    background-color: rgb(100, 92, 223);
    color:aliceblue;
    font-size: large;
    cursor: pointer;
    margin-left: 5px;

}